@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    font-size: 62,5%;
    --cor-azul-noite: #021226;
    --cor-azul-escuro: #063573;
    --cor-azul-claro: #0fc9f2;
    --cor-azul-esverdeado: #38f2e0;
    --cor-branco: #ffffff;
}
*{
    padding: 0;
    margin: 0;

}
.row{
    margin: 0 !important;
}
body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Montserrat', sans-serif;
    color: white;
    scroll-behavior: smooth;
}
.hidden{
    display: none;
}
p{
    font-size: 1.2rem !important;
    font-weight: 200 !important;
}
nav{
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 1;
    position: fixed;
}
nav a{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-bottom: 2px transparent solid;
    text-shadow: 1.5px 1px black;
}
nav a:hover{
    border-bottom: 2px white solid;
    background-color: transparent !important;    
}
.navbar{
    display: flex;
    align-items: center;
    padding: 16px 0px;
    gap: 31px;
}
header{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #021226 65.9%, rgba(0, 0, 0, 0) 166.39%), url('img/background_header.jpg');
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    font-style: normal;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0 !important;
}
header p{
    font-size: 1.4rem;
    font-weight: 100;
    margin-top: 0 !important;
    
}
header .home{
    text-align: left;
    margin-bottom: 0;
}
#header{
    height: 100vh;
}
article{
    padding: 1%;
    padding-bottom: 5%;
}
h1{
    font-size: 4rem !important;
    font-weight: 700;
}
.input-field input:focus + label {
    color: #586063 !important;
}
.input-field input:focus {
    border-bottom: 1px solid #586063 !important;
    box-shadow: 0 1px 0 0 #586063 !important; 
}
.input-field textarea:focus + label {
    color: #586063 !important;
}
.input-field textarea:focus {
    border-bottom: 1px solid #586063 !important;
    box-shadow: 0 1px 0 0 #586063 !important; 
}
.contato{
    background-color: var(--cor-azul-noite);
}
.h2{
    font-weight: 500 !important;
    font-size: 5rem !important;
}
footer{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--cor-azul-escuro);
}
footer p{
    font-size: 1rem !important;
    font-weight: 700 !important;
}
.formacao{
    background-color: var(--cor-azul-escuro);
}
.formimg{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: var(--cor-azul-esverdeado);
    justify-content: center;
    transition: 0.5s;
    overflow: hidden;
}
.formimg:hover{
    background-color: #021226;
    
    
}
.formimg img:hover{
    transform: scale(1.2);
}
.formimg span:hover{
    transform: scale(1.2);
}
.formimg span{
    font-size: 3rem;
    line-height: 85%;
    transition: 0.5s;
    text-shadow: 1px 1px 1px var(--cor-azul-noite);
}
.formimg img{
    height: 105px;
    width: 105px;
    margin: 0;
    transition: 0.5s;
    
}
.alinha{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
h3{
    font-size: 2.5rem !important;
    font-weight: 500 !important;
}
.desenvolvimento{
    background-color: var(--cor-azul-noite);

}
.conteudodev{
    background-color: var(--cor-azul-claro);
    border-radius: 19px;
    height: 280px;
    margin: 5px;
}
.port{
    background-color: var(--cor-azul-escuro);
    overflow: hidden;
}
.imgport{
    transition: 0.5s;
    cursor: pointer;
}
.imgport:hover{
    transform: scale(1.1);
}