@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');
:root{
    font-size: 62,5%;
}
*{
    padding: 0;
    margin: 0;

}
.row{
    margin: 0 !important;
}
body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Montserrat', sans-serif;
    color: white;
    scroll-behavior: smooth;
}
.hidden{
    display: none;
}
nav{
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 1;
    position: fixed;
}
nav a{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-bottom: 2px transparent solid;
    text-shadow: 1.5px 1px black;
}
nav a:hover{
    border-bottom: 2px white solid;
    background-color: transparent !important;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 16px 0px;
    gap: 31px;
}
header{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #000000 68.96%, rgba(0, 0, 0, 0) 111.81%), url('../img/background_header.jpg');
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    font-style: normal;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0 !important;
}
header p{
    font-size: 1.4rem;
    font-weight: 100;
    margin-top: 0 !important;
    
}
header .home{
    text-align: left;
    margin-bottom: 0;
}
#header{
    height: 100vh;
}
article{
    height: 100vh;
    padding: 2%;
}
h1{
    font-size: 4rem;
    font-weight: 700;
}
.input-field input:focus + label {
    color: #586063 !important;
}
.input-field input:focus {
    border-bottom: 1px solid #586063 !important;
    box-shadow: 0 1px 0 0 #586063 !important; 
}
.input-field textarea:focus + label {
    color: #586063 !important;
}
.input-field textarea:focus {
    border-bottom: 1px solid #586063 !important;
    box-shadow: 0 1px 0 0 #586063 !important; 
}